/* Fonds */

.OpenSans50 {
  font-family: "Open Sans", sans-serif;
  font-size: 2.6vw;
  font-weight: bold;
  color: #192b59;
  letter-spacing: -0.06vw;
}

.OpenSans14 {
  font-family: "Open Sans", sans-serif;
  font-size: 0.8vw;
  font-weight: bold;
  color: #1085e4;
  text-transform: uppercase;
  display: block;
  letter-spacing: 0.14vw;
}

.OpenSans16 {
  font-family: "Open Sans", sans-serif;
  font-size: 0.8vw;
  font-weight: 400;
  color: #7581a1;
  letter-spacing: 0.03vw;
  line-height: 3vh;
}

.OpenSans18 {
  font-family: "Open Sans", sans-serif;
  font-size: 0.9vw;
  font-weight: bold;
  color: #1085e4;
  letter-spacing: 0.025vw;
}
/* Fonds */

/* buttons */

.button-blue {
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  font-size: 0.7vw;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  padding: 2.3vh 2.2vw;
  border-radius: 14vw;
  background-color: #1085e4;
  letter-spacing: 0.08vw;
  border: 0.001vw solid #1085e4;
}

.button-blue:hover {
  background-color: #192b59;
  border: 0.001vw solid #192b59;
  transition: ease 0.4s;
}

.button-gray {
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  font-size: 0.7vw;
  font-weight: bold;
  color: #7e8bae;
  text-transform: uppercase;
  padding: 2.3vh 2.2vw;
  border-radius: 14vw;
  background-color: #cbdbe8;
  letter-spacing: 0.08vw;
  border: 0.001vw solid #cbdbe8;
}

.button-gray:hover {
  color: #eff3fd;
  background-color: #8499aa;
  border: 0.001vw solid #8499aa;
  transition: ease 0.4s;
}

/* buttons */

/* header */

.wrap {
  max-width: 100vw;
  display: grid;
  justify-content: center;
}

.header {
  background-image: url(Photo/Bg_header.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.wrap-main {
  max-width: 58vw;
  display: block;
  padding: 2.5vw 0 29.4vw;
}

.header-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.header__burger{
  display: none;
}

.header-head > header {
  display: flex;
  align-items: center;
  margin-right: 5.8vw;
  position: relative;
}

.header-head > header > img {
  height: 90%;
  width: 90%;
  object-fit: contain;
  position: absolute;
  top: 0;
  right: 4.2vw;
  display: block;
}

.header-head > header > h1 {
  font-family: "Open Sans", sans-serif;
  font-size: 1.2vw;
  font-weight: bold;
  color: #192b59;
  text-transform: uppercase;
  letter-spacing: 0.25vw;
  padding-left: 2.5vw;
}

.nav {
  display: inherit;
}

.nav > li {
  list-style: none;
}
.nav > li > a.button-blue {
  color: white;
  font-weight: 400;
  padding: 2.4vh 2.9vw;
  font-size: 0.6vw;
  margin-left: 2vw;
}

.nav > li > a.button-blue:hover {
  color: white;
  transition: ease 0.4s;
}

.nav > li > a {
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  font-size: 0.7vw;
  font-weight: bold;
  color: #6e7ea9;
  text-transform: uppercase;
  letter-spacing: 0.065vw;
  padding-left: 2.1vw;
}

.nav > li > a:hover {
  color: #132042;
  transition: ease 0.3s;
}

.main-header {
  margin-top: 15.5vw;
}

.main-header > h1 {
  font-family: "Open Sans", sans-serif;
  font-size: 4.2vw;
  font-weight: 550;
  color: #192b59;
  letter-spacing: -0.24vw;
  max-width: 51%;
}

.header-image {
  position: absolute;
  background-image: url(Photo/Dashboard.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 40%;
  height: 50%;
  right: 0%;
  top: 15%;
}

.header-button {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-top: -1vh;
}

.header-button > a:first-child {
  margin-right: 1vw;
}

/* header */

/* sponsor */

.sponsor {
  background-image: url(Photo/Bg_sponsors.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.main-sponsor {
  max-width: 58vw;
  display: flex;
  flex-direction: row;
}

.sponsors {
  display: flex;
  align-items: center;
  padding: 11vh 0px;
  justify-content: space-between;
  position: relative;
}

.sponsors-div {
  margin-right: 6vw;
  display: block;
  position: relative;
  width: 10vw;
  height: 7vh;
}

.sponsors-div:last-child {
  margin-right: 0;
  display: block;
  position: relative;
  width: 10vw;
  height: 7vh;
}

.img-sponsor {
  object-fit: contain;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
}

/* sponsor */

/* future */

.future {
  background-color: white;
  padding: 13vh 0px 12vh;
}

.main__future {
  display: grid;
  grid-template-areas:
    "title a b"
    "c a b"
    "c d e"
    "f d e"
    "f text text";
  grid-gap: 2vw;
}

.main_future__title > h1 {
  max-width: 17vw;
}

.main_future__title > h1 > span.OpenSans14 {
  font-size: 0.9vw;
  letter-spacing: 0.1vw;
  margin-bottom: 1.5vh;
}

.main_future__title {
}

.grid__item {
  text-align: center;
  -webkit-box-shadow: 0px 10px 23px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 10px 23px 2px rgba(0, 0, 0, 0.3);
  padding: 6vh 1.5vw;
  box-sizing: border-box;
  border-radius: 0.5vw;
}

.main__future__img {
  margin: 0 auto;
  background-repeat: no-repeat;
  background-size: contain;
  width: 3vw;
  height: 7vh;
  display: block;
  margin-bottom: 4vh;
}

.main__future__text__h3 {
  font-family: "Open Sans", sans-serif;
  font-size: 1vw;
  letter-spacing: -0.02vw;
}

.main__future__text {
  max-width: 37vw;
}

.main__future__text__link {
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  color: #1085e4;
  font-size: 0.75vw;
  font-weight: bold;
}

.main__future__text__link:hover {
  color: #192b59;
  transition: ease 0.4s;
}

.main__future__img__1 {
  background-image: url(Photo/Future__icon__1.png);
}

.main__future__img__2 {
  background-image: url(Photo/Future__icon__2.png);
}

.main__future__img__3 {
  background-image: url(Photo/Future__icon__3.png);
}

.main__future__img__4 {
  background-image: url(Photo/Future__icon__4.png);
}

.main__future__img__5 {
  background-image: url(Photo/Future__icon__5.png);
}

.main__future__img__6 {
  background-image: url(Photo/Future__icon__6.png);
}

.grid__item__title {
  grid-area: title;
}

.grid__item__1 {
  grid-area: a;
}

.grid__item__2 {
  grid-area: b;
}

.grid__item__3 {
  grid-area: c;
}

.grid__item__4 {
  grid-area: d;
}

.grid__item__5 {
  grid-area: e;
}

.grid__item__6 {
  grid-area: f;
}

.grid__item__text {
  grid-area: text;
}

/* future */

/* robot */

.robot {
  background: rgb(10, 32, 144);
  background: linear-gradient(
    90deg,
    rgba(10, 32, 144, 1) 0%,
    rgba(35, 119, 205, 1) 100%
  );
}

.container {
  width: 58vw;
}

.main-robot {
  display: flex;
  justify-content: space-between;
  padding: 7vh 0;
}

.robot-text {
  margin-right: 8vw;
}

.robot-text > .OpenSans50 {
  color: white;
  letter-spacing: -0.11vw;
  width: 26vw;
}

.robot-text > .OpenSans50 > .OpenSans14 {
  color: #00bffe;
  margin-bottom: 2.3vh;
}

.robot-text > .OpenSans18 {
  color: #dfe8ff;
  font-weight: 400;
  margin-top: -0.6vh;
  max-width: 22vw;
  margin-bottom: 6vh;
}

.robot__img {
  background-image: url(Photo/Robot.png);
  width: 18.5vw;
  height: 45vh;
  background-size: contain;
  background-repeat: no-repeat;
}

.input-email {
  border: 0.15vw solid #5468b9;
  border-radius: 2vw;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.7vh 0.5vw 0.7vh 2vw;
}

.input-email > .button-blue {
  outline: none;
  padding: 1.7vh 2.6vw;
  letter-spacing: 0.13vw;
  margin-left: 5vw;
  box-sizing: border-box;
}

.input-email > .button-blue:hover {
  color: #1085e4;
  background-color: white;
  border: 0.001vw solid white;
  transition: ease 0.4s;
}

.input-email > input {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  outline: none;
  color: #b1c3ee;
  font-family: "Open Sans", sans-serif;
  width: 9.7vw;
}

.input-email > input::placeholder {
  color: #b1c3ee;
  font-family: "Open Sans", sans-serif;
  font-size: 0.75vw;
}

.input-email > label {
  display: none;
}

/* robot */

/* softvare */

.softvare {
  background-image: url(Photo/Bg_software.png);
  background-size: 60% 100%;
  background-repeat: no-repeat;
  padding: 7vh 0px 10vh 0px;
  position: relative;
}

.main__softvare {
  display: flex;
  justify-content: flex-end;
}

.main__softvare__text {
  position: relative;
}

.main__softvare__img {
  background-image: url(Photo/software-icon.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 10vw;
  height: 15vh;
  margin-left: -3vw;
  margin-bottom: -2vh;
}

.main__softvare__text > h1.OpenSans50 {
  font-size: 400;
  letter-spacing: -0.1vw;
  max-width: 29vw;
}

.main__softvare__text > .OpenSans16 {
  max-width: 34vw;
  margin-bottom: 6vh;
}

.main__softvare__text__16 {
  font-family: "Open Sans", sans-serif;
  font-size: 0.9vw;
  font-weight: bold;
  color: #5a6789;
  letter-spacing: -0.03vw;
  margin-bottom: 2vh;
  margin-left: 2vw;
}

.main__softvare__text__14 {
  font-family: "Open Sans", sans-serif;
  font-size: 0.8vw;
  font-weight: 400;
  color: #7581a1;
  line-height: 3vh;
  max-width: 32vw;
  margin-bottom: 6vh;
}

.main__softvare__text__14:last-child {
  margin-bottom: 0;
}

.main__softvare__table {
  max-height: 47vh;
  overflow-y: scroll;
}

.softvare__image {
  background-image: url(Photo/software-statistick.png);
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  left: 0;
  top: 30vh;
  width: 42vw;
  height: 75vh;
}

#style-1::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
  border-radius: 10px;
}

#style-1::-webkit-scrollbar {
  width: 4px;
}

#style-1::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
  background-color: #1085e4;
  scrollbar-width: 10px;
}

/* softvare */

/* fun */

.fun {
  background-color: #edf6ff;
  position: relative;
}

.main__fun {
  padding: 9vh 0px 6vh;
}

.fun__title {
  margin: 0 auto -2vh;
  text-align: center;
  max-width: 23.5vw;
}

.fun__title > h1 > span.OpenSans14 {
  font-size: 0.9vw;
  font-weight: bold;
  letter-spacing: 0.15vw;
  margin-bottom: 1vh;
}

.fun__functs {
}

.fun__list {
  display: flex;
  list-style: none;
  justify-content: space-around;
}

.fun__statictick {
  text-align: center;
  font-family: "Open Sans", sans-serif;
}

.fun__statictick__h2 {
  color: #bacbdc;
  font-size: 3vw;
}

.fun__statictick__span {
  display: block;
  color: #1085e4;
  font-size: 0.7vw;
  text-transform: uppercase;
  letter-spacing: 0.06vw;
  margin-top: 0.6vw;
}
/* fun */

/* video */

.video {
  position: relative;
  padding: 8.4vh 0px 20vh;
}

.main__video {
  display: flex;
  justify-content: start;
}

.main__title {
  position: relative;
}

.main__title > .OpenSans50 {
  max-width: 26vw;
  letter-spacing: -0.06vw;
}

.main__title > .OpenSans16 {
  max-width: 33vw;
}

.main__title__h3 {
  font-family: "Open Sans", sans-serif;
  font-size: 0.8vw;
  font-weight: bold;
  color: #7581a1;
  letter-spacing: 0.17vw;
  text-transform: uppercase;
  margin-top: 3vh;
}

.main__download {
}

.google__play {
  position: absolute;
  width: 8.5vw;
  height: 6vh;
  object-fit: contain;
  bottom: -7vh;
  left: 0;
}

.google__play:hover {
  transition: ease 0.4s;
  height: 5.5vh;
}

.apple__store {
  position: absolute;
  width: 8vw;
  height: 6vh;
  object-fit: contain;
  bottom: -7vh;
  left: 10vw;
}

.apple__store:hover {
  height: 5.5vh;
  transition: ease 0.4s;
}

.main__img {
  background-image: url(Photo/Video.png);
  position: absolute;
  background-repeat: no-repeat;
  background-size: contain;
  right: 10vw;
  top: 5vh;
  width: 30vw;
  height: 55vh;
}

/* video */

/* statistick */

.statistick {
  background-image: url(Photo/Bg_statistick.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 23vh 0px 20vh;
}

.main__statistick {
  display: flex;
  justify-content: flex-end;
  position: relative;
}

.main__titile {
  position: relative;
}

.main__title__img {
  position: absolute;
  background-image: url(Photo/software-icon.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 10vw;
  height: 15vh;
  top: -12.4vh;
  left: -2.5vw;
}

.main__titile > .OpenSans50 {
  max-width: 30vw;
}

.main__titile > .OpenSans16 {
  max-width: 33vw;
  padding-bottom: 5vh;
}

.main__statistick__img {
  position: absolute;
  background-image: url(Photo/statistick_img.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 26vw;
  height: 35vh;
  left: -1vw;
  top: 3vh;
}

/* statistick */

/* screen */

.screen {
  background-color: #edf6ff;
  padding: 10vh 0px 0vh;
}

.main__screen {
  display: grid;
  justify-content: center;
}

.main__screen_title {
  text-align: center;
  margin-bottom: 6vh;
}

.main__screen_title > h1 > span.OpenSans14 {
  font-size: 0.9vw;
}

.main__screen__img > img {
  margin: 0 auto;
  width: 63vw;
  height: 50vh;
}

/* screen */

/* cliensts */

.cliensts {
  padding: 10vh 0 13vh;
  position: relative;
}

.mian__cliensts {
  display: grid;
}

.mian__cliensts__title {
  text-align: start;
  margin-bottom: 3.3vh;
}

.mian__cliensts__title > .OpenSans50 {
  color: white;
}

.mian__cliensts__title > h1 > span.OpenSans14 {
  color: #85c8ff;
  letter-spacing: 0.18vw;
  font-size: 0.9vw;
  margin-bottom: 2vh;
}

.reviews {
  display: flex;
  justify-content: space-between;
}

.reviews__main {
  flex-basis: 31.5%;
  background-color: white;
  border-radius: 0.45vw;
  display: grid;
  justify-content: start;
  padding: 3vh 2.5vw 0px 2vw;
  box-sizing: border-box;
  -webkit-box-shadow: 0px 11px 18px -9px rgba(0, 0, 0, 0.76);
  box-shadow: 0px 11px 18px -9px rgba(0, 0, 0, 0.76);
}

.reviews__main > .OpenSans14 {
  font-weight: 0.5vw;
  font-weight: 400;
  color: #888db6;
  text-transform: none;
  letter-spacing: 0px;
}

.person {
  display: flex;
  align-items: center;
  padding-bottom: 1.5vh;
}

.person__img {
  background-image: url(Photo/person_img.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 3vw;
  height: 5.2vh;
  margin-right: 0.5vw;
}

.person__text {
  font-family: "Open Sans", sans-serif;
}

.person__text__h3 {
  color: #1085e4;
  text-transform: uppercase;
  font-size: 0.7vw;
}

.person__text__span {
  display: block;
  color: #000958;
  font-weight: 600;
  font-size: 0.9vw;
  letter-spacing: -0.04vw;
  margin-bottom: 0.5vh;
}

.cliensts__img {
  background-image: url(Photo/Bg_clienst.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  left: 0;
  top: 10vh;
  width: 100%;
  height: 57%;
  max-width: 85vw;
  max-height: 40vh;
  z-index: -1;
}

/* cliensts */

/* team */

.team {
  background-image: url(Photo/Bg_team.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.main__team {
  padding: 10vh 0px 13vh;
}

.main__team_title {
  font-family: "Open Sans", sans-serif;
  text-align: center;
  margin-bottom: 15vh;
}

.main__team_title .OpenSans50 {
  color: white;
}

.main__team_title > h1 > span.OpenSans14 {
  color: #85c8ff;
  letter-spacing: 0.18vw;
  font-size: 0.9vw;
  margin-bottom: 2vh;
}

.main__team__peoples {
  display: flex;
  justify-content: space-between;
}

.main__team__people {
  flex-basis: 32%;
  background-color: white;
  position: relative;
  padding: 25vh 2vw 5vh;
  -webkit-box-shadow: 0px 11px 18px -9px rgb(0 0 0 / 50%);
  box-shadow: 0px 11px 18px -9px rgb(0 0 0 / 50%);
  box-sizing: border-box;
}

.main__team__people__photo {
  position: absolute;
  top: -9vh;
  right: 0;
  left: 0;
  margin: 0 auto;
  width: 17vw;
  height: 30vh;
  object-fit: contain;
  display: block;
}

.main__team__people__photo__1 {
}

.main__team__people__photo__2 {
}

.main__team__people__photo__3 {
}

.main__team__people__text {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  margin-top: -3vh;
}

.main__team__people__text__h3 {
  color: #192b59;
  font-size: 1.2vw;
}

.main__team__people__text__span {
  color: #1a88e1;
  display: block;
  text-transform: uppercase;
  font-size: 0.8vw;
  letter-spacing: 0.13vw;
  margin-bottom: 1.7vh;
}

.main__team__people_button {
  margin: 1vh auto 0px;
  display: block;
  width: 2.5vw;
  height: 5.1vh;
  border-radius: 100%;
  border-color: rgba(0, 0, 0, 0);
  background-repeat: no-repeat;
  background-size: 40%;
  background-position: center;
  background-color: #f3f3f3;
}

.main__team__people_button:hover {
  background-color: #1a88e1;
  transition: ease 0.3s;
  -webkit-box-shadow: 0px 11px 18px -9px rgb(0 0 0 / 50%);
  box-shadow: 0px 11px 18px -9px rgb(0 0 0 / 50%);
}

.main__team__people_button:focus {
  outline: none;
}

.main__team__people_button__plus {
  background-image: url(Photo/team__img__button.png);
}

.main__team__people_button__plus:hover {
  background-image: url(Photo/team__img__button__2.png);
  transition: ease 0.3s;
}

.main__team__people_buttons {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  margin: 1vh auto 0px;
}

.main__team__people_button__facebook {
  background-image: url(Photo/team__img__button__facebook.png);
  background-size: 25%;
}

.main__team__people_button__facebook:hover {
  background-image: url(Photo/team__img__button__facebook__2.png);
}

.main__team__people_button__twitter {
  background-image: url(Photo/team__img__button__twitter.png);
  background-size: 43%;
}

.main__team__people_button__twitter:hover {
  background-image: url(Photo/team__img__button__twitter__2.png);
}

.main__team__people_button__be {
  background-image: url(Photo/team__img__button__be.png);
  background-size: 43%;
}

.main__team__people_button__be:hover {
  background-image: url(Photo/team__img__button__be__2.png);
}

.main__team__people_button__site {
  background-image: url(Photo/team__img__button__site.png);
  background-size: 43%;
}

.main__team__people_button__site:hover {
  background-image: url(Photo/team__img__button__site__2.png);
}
/* team */

/* footer */

.footer {
  background-color: #192b59;
}

.footer__main {
  padding: 1vh 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__main__text {
  font-family: "Open Sans", sans-serif;
}

.footer__main__text__h3 {
  color: #1085e4;
  font-size: 0.9vw;
  text-transform: uppercase;
}

.footer__main__text__span {
  color: white;
  font-size: 0.8vw;
  font-weight: bold;
}

.footer__main__text__a {
  font-family: "Open Sans", sans-serif;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.1vw;
  font-size: 0.8vw;
}

/* footer */

@media (max-width: 1025px) and (min-width: 768px) and (orientation: portrait) {
  .container {
    width: 70vw;
  }

  .wrap-main {
    max-width: 70vw;
    padding: 2.5vw 0 12vw;
  }
  .main-header {
    margin-top: 6.5vw;
  }

  .nav > li > a {
    font-size: 0.9vw;
  }
  .nav > li > a.button-blue {
    padding: 1vh 3vw;
    font-size: 0.8vw;
  }

  .header-head > header > h1 {
    font-size: 1.3vw;
    padding-left: 3.5vw;
  }

  .button-blue {
    font-size: 0.8vw;
    padding: 1.3vh 2.2vw;
  }

  .button-gray {
    font-size: 0.8vw;
    padding: 1.3vh 2.2vw;
  }

  .header-image {
    width: 46%;
    height: 67%;
    top: 20%;
  }

  .header__burger{
    display: none;
  }

  .sponsors {
    padding: 4vh 0px;
  }

  .img-sponsor {
    width: 115%;
    height: 115%;
  }

  .future {
    padding: 6vh 0px 8vh;
  }

  .main_future__title > h1 > span.OpenSans14 {
    font-size: 1.3vw;
  }

  .main_future__title > h1 {
    font-size: 3vw;
    max-width: 20vw;
  }

  .grid__item {
    padding: 3vh 2vw;
  }

  .main__future__img {
    width: 4vw;
    height: 4vh;
    margin-bottom: 2vh;
  }

  .main__future__text__h3 {
    font-size: 1.3vw;
  }

  .OpenSans16 {
    line-height: 1.5vh;
    font-size: 1.1vw;
  }

  .main__future__text__link {
    font-size: 0.9vw;
  }

  .main-robot {
    padding: 4vh 0;
  }

  .robot-text > .OpenSans50 > .OpenSans14 {
    margin-bottom: 0.5vh;
  }

  .OpenSans14 {
    font-size: 1.1vw;
  }

  .robot-text > .OpenSans50 {
  }

  .OpenSans50 {
    font-size: 3.2vw;
  }

  .OpenSans18 {
    font-size: 1.1vw;
  }

  .robot-text > .OpenSans18 {
    margin-top: -0.3vh;
    max-width: 22vw;
    margin-bottom: 2vh;
  }

  .input-email {
    padding: 0.5vh 0.5vw 0.5vh 2vw;
    border-radius: 4vw;
  }

  .input-email > .button-blue {
    padding: 1.1vh 3vw;
    margin-left: 4vw;
  }

  .input-email > input::placeholder {
    font-size: 1vw;
  }

  .input-email > input {
    width: 14vw;
    font-size: 1.2vw;
  }

  .robot__img {
    width: 21.5vw;
    height: 17vh;
  }

  .softvare {
    background-size: 60% 100%;
    padding: 3vh 0px 2vh 0px;
  }

  .main__softvare__img {
    width: 12vw;
    height: 9vh;
    margin-left: -5vw;
    margin-bottom: -3vh;
  }

  .main__softvare__text > h1.OpenSans50 {
    max-width: 36vw;
  }

  .main__softvare__table {
    max-height: 18vh;
  }

  .main__softvare__text > .OpenSans16 {
    margin-bottom: 2vh;
  }

  .main__softvare__text__16 {
    font-size: 1.2vw;
    margin-bottom: 1vh;
  }

  .main__softvare__text__14 {
    line-height: 1.8vh;
    font-size: 1.1vw;
    max-width: 28vw;
    margin-bottom: 2vh;
  }

  .softvare__image {
    top: 11vh;
    width: 48vw;
    height: 31vh;
  }

  .main__fun {
    padding: 4vh 0px 1vh;
  }

  .fun__title {
    max-width: 28.5vw;
  }

  .fun__title > h1 > span.OpenSans14 {
    font-size: 1.3vw;
    margin-bottom: 0.5vh;
  }

  .fun__statictick__h2 {
    font-size: 4vw;
  }

  .fun__statictick__span {
    font-size: 1vw;
  }

  .video {
    padding: 6vh 0px 10vh;
  }

  .main__title__h3 {
    font-size: 1vw;
    margin-top: 1.5vh;
  }

  .google__play {
    width: 10.5vw;
    height: 3vh;
    bottom: -3.5vh;
  }

  .google__play:hover {
    width: 11.5vw;
    height: 3vh;
  }

  .apple__store {
    width: 10vw;
    height: 3vh;
    bottom: -3.5vh;
    left: 12vw;
  }

  .apple__store:hover {
    width: 11vw;
    height: 3vh;
  }

  .main__img {
    right: 7vw;
    top: 4vh;
    width: 37vw;
    height: 26vh;
  }

  .statistick {
    padding: 7vh 0px 6vh;
  }

  .main__title__img {
    width: 12vw;
    height: 9vh;
    margin-left: -5vw;
    margin-bottom: -3vh;
    top: -6vh;
    left: 0.5vw;
  }

  .main__titile > .OpenSans50 {
    max-width: 36vw;
  }

  .main__titile > .OpenSans16 {
    max-width: 37vw;
    padding-bottom: 1.5vh;
  }

  .main__statistick__img {
    width: 32vw;
    height: 20vh;
    left: -4vw;
    top: -1vh;
  }

  .screen {
    padding: 4vh 0px 0px;
  }

  .main__screen_title {
    margin-bottom: 2vh;
  }

  .main__screen_title > h1 > span.OpenSans14 {
    font-size: 1.1vw;
    margin-bottom: 1vh;
  }

  .main__screen__img > img {
    width: 74vw;
    height: 23vh;
  }

  .cliensts {
    padding: 4vh 0 5vh;
  }

  .mian__cliensts__title > h1 > span.OpenSans14 {
    font-size: 1.1vw;
    margin-bottom: 1vh;
  }

  .mian__cliensts__title {
    margin-bottom: 0.5vh;
  }

  .cliensts__img {
    top: 4vh;
    width: 93%;
    height: 57%;
    max-width: 95vw;
    max-height: 19vh;
  }

  .reviews__main {
    padding: 1vh 2.5vw 0px 1.5vw;
    border-radius: 0.55vw;
  }
  .person__img {
    width: 4vw;
    height: 3.3vh;
    margin-right: 0.8vw;
  }
  .person__text__span {
    font-size: 1.2vw;
  }
  .person__text__h3 {
    font-size: 0.9vw;
  }
  .person {
    padding-bottom: 1vh;
  }
  .main__team {
    padding: 3vh 0px 4vh;
  }
  .main__team_title > h1 > span.OpenSans14 {
    font-size: 1.2vw;
    margin-bottom: 0.5vh;
  }

  .main__team__people {
    padding: 15vh 2vw 2vh;
  }
  .main__team_title {
    margin-bottom: 5vh;
  }

  .main__team__people__photo {
    top: -4vh;
    width: 19vw;
    height: 17vh;
  }
  .main__team__people__text__span {
    font-size: 1.1vw;
    margin-bottom: 1vh;
  }
  .main__team__people__text__h3 {
    font-size: 1.6vw;
  }
  .main__team__people_button {
    width: 4vw;
    height: 3vh;
    margin: 0vh auto 0px;
  }
  .footer__main {
    padding: 1vh 0px;
  }
  .footer__main__text__span {
    font-size: 1.8vw;
  }
  .footer__main__text__h3 {
    font-size: 1.9vw;
  }
  .footer__main__text__a {
    font-size: 1.7vw;
  }
}

@media (max-width: 1025px) and (min-width: 900px) and (orientation: landscape) {
  .container {
    width: 70vw;
  }

  .OpenSans18 {
    font-size: 1.4vw;
  }

  .wrap-main {
    max-width: 70vw;
    padding: 2.5vw 0 12vw;
  }
  .main-header {
    margin-top: 6.5vw;
  }

  .header__burger{
    display: none;
  }

  .header-head > header {
    margin-right: 3.8vw;
  }
  .header-head > header > img {
    height: 100%;
    width: 100%;
  }

  .nav > li > a {
    font-size: 1.1vw;
  }
  .nav > li > a.button-blue {
    padding: 1.5vh 3vw;
    font-size: 1vw;
  }

  .header-head > header > h1 {
    font-size: 1.4vw;
    padding-left: 3.5vw;
  }

  .button-blue {
    font-size: 0.9vw;
    padding: 2vh 2.2vw;
  }

  .button-gray {
    font-size: 0.9vw;
    padding: 2vh 2.2vw;
  }

  .header-image {
    width: 46%;
    height: 67%;
    top: 20%;
  }

  .sponsors {
    padding: 5vh 0px;
  }

  .img-sponsor {
    width: 115%;
    height: 115%;
  }

  .future {
    padding: 6vh 0px 8vh;
  }

  .main_future__title > h1 > span.OpenSans14 {
    font-size: 1.3vw;
  }

  .main_future__title > h1 {
    font-size: 3vw;
    max-width: 20vw;
  }

  .grid__item {
    padding: 3vh 2vw;
  }

  .main__future__img {
    width: 4vw;
    height: 6vh;
    margin-bottom: 1vh;
  }

  .main__future__text__h3 {
    font-size: 1.5vw;
  }

  .OpenSans16 {
    line-height: 2vh;
    font-size: 1.3vw;
  }

  .main__future__text__link {
    font-size: 1.3vw;
  }

  .main-robot {
    padding: 5vh 0 7vh;
  }

  .robot-text > .OpenSans50 > .OpenSans14 {
    margin-bottom: 0.5vh;
  }

  .OpenSans14 {
    font-size: 1.3vw;
  }

  .robot-text > .OpenSans50 {
  }

  .OpenSans50 {
    font-size: 3.2vw;
  }

  .OpenSans18 {
    font-size: 1.1vw;
  }

  .robot-text > .OpenSans18 {
    margin-top: -0.3vh;
    max-width: 22vw;
    margin-bottom: 2vh;
  }

  .input-email {
    padding: 0.5vh 0.5vw 0.5vh 2vw;
    border-radius: 4vw;
  }

  .input-email > .button-blue {
    padding: 1.5vh 3vw;
    margin-left: 1vw;
  }

  .input-email > input::placeholder {
    font-size: 1.2vw;
  }

  .input-email > input {
    width: 14vw;
    font-size: 1.4vw;
  }

  .robot__img {
    width: 24.5vw;
    height: 29vh;
  }

  .softvare {
    background-size: 60% 100%;
    padding: 3vh 0px 2vh 0px;
  }

  .main__softvare__img {
    width: 13vw;
    height: 12vh;
    margin-left: -4vw;
    margin-bottom: -3vh;
  }

  .main__softvare__text > h1.OpenSans50 {
    max-width: 36vw;
  }

  .main__softvare__table {
    max-height: 24vh;
  }

  .main__softvare__text > .OpenSans16 {
    margin-bottom: 4vh;
  }

  .main__softvare__text__16 {
    font-size: 1.5vw;
    margin-bottom: 1.5vh;
  }

  .main__softvare__text__14 {
    line-height: 2.2vh;
    font-size: 1.3vw;
    max-width: 32vw;
    margin-bottom: 2vh;
  }

  .softvare__image {
    top: 12vh;
    width: 45vw;
    height: 49vh;
  }

  .main__fun {
    padding: 4vh 0px 1vh;
  }

  .fun__title {
    max-width: 28.5vw;
  }

  .fun__title > h1 > span.OpenSans14 {
    font-size: 1.3vw;
    margin-bottom: 0.5vh;
    letter-spacing: 0.03vw;
  }

  .fun__statictick__h2 {
    font-size: 4.5vw;
  }

  .fun__statictick__span {
    font-size: 1.2vw;
  }

  .video {
    padding: 6vh 0px 10vh;
  }

  .main__title__h3 {
    font-size: 1.3vw;
    margin-top: 1.5vh;
  }

  .google__play {
    width: 11.5vw;
    height: 5vh;
    bottom: -5.5vh;
  }

  .google__play:hover {
    width: 11.5vw;
    height: 5vh;
    bottom: -5.5vh;
  }

  .apple__store {
    width: 11vw;
    height: 5vh;
    bottom: -5.4vh;
    left: 12vw;
  }

  .apple__store:hover {
    width: 11vw;
    height: 5vh;
    bottom: -5.4vh;
    left: 12vw;
  }

  .main__img {
    right: 7vw;
    top: 3vh;
    width: 35vw;
    height: 40vh;
  }

  .statistick {
    padding: 9vh 0px 6vh;
  }

  .main__title__img {
    width: 13vw;
    height: 12vh;
    margin-left: -4vw;
    margin-bottom: -3vh;
    top: -8.4vh;
    left: -0.5vw;
  }

  .main__titile > .OpenSans50 {
    max-width: 36vw;
  }

  .main__titile > .OpenSans16 {
    max-width: 37vw;
    padding-bottom: 1.5vh;
  }

  .main__statistick__img {
    width: 32vw;
    height: 34vh;
    left: -4vw;
    top: -2vh;
  }

  .screen {
    padding: 4vh 0px 0px;
  }

  .main__screen_title {
    margin-bottom: 2vh;
  }

  .main__screen_title > h1 > span.OpenSans14 {
    font-size: 1.1vw;
    margin-bottom: 1vh;
  }

  .main__screen__img > img {
    width: 72vw;
    height: 34vh;
  }

  .cliensts {
    padding: 6vh 0 10vh;
  }

  .mian__cliensts__title > h1 > span.OpenSans14 {
    font-size: 1.5vw;
    margin-bottom: 1vh;
  }

  .mian__cliensts__title {
    margin-bottom: 0.5vh;
  }

  .cliensts__img {
    top: 7vh;
    width: 91%;
    height: 62%;
    max-width: 91vw;
    max-height: 28vh;
  }

  .reviews__main {
    padding: 1vh 2.5vw 0px 1.5vw;
    border-radius: 0.55vw;
  }
  .person__img {
    width: 5vw;
    height: 6.3vh;
    margin-right: 0.8vw;
  }
  .person__text__span {
    font-size: 1.4vw;
  }
  .person__text__h3 {
    font-size: 1.2vw;
  }
  .person {
    padding-bottom: 2vh;
  }

  .team {
    padding-bottom: 2vh;
  }
  .main__team {
    padding: 3vh 0px 4vh;
  }
  .main__team_title > h1 > span.OpenSans14 {
    font-size: 1.2vw;
    margin-bottom: 0.5vh;
  }

  .main__team__people {
    padding: 26vh 2vw 3vh;
  }
  .main__team_title {
    margin-bottom: 9vh;
  }

  .main__team__people__text {
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    margin-top: -6vh;
  }

  .main__team__people__photo {
    top: -5vh;
    width: 21vw;
    height: 24vh;
  }
  .main__team__people__text__span {
    font-size: 1.1vw;
    margin-bottom: 1vh;
  }
  .main__team__people__text__h3 {
    font-size: 1.6vw;
  }
  .main__team__people_button {
    width: 3.8vw;
    height: 4.5vh;
    margin: 0vh auto 0px;
  }
  .footer__main {
    padding: 0vh 0px;
  }
  .footer__main__text__span {
    font-size: 1.5vw;
  }
  .footer__main__text__h3 {
    font-size: 1.6vw;
  }
  .footer__main__text__a {
    font-size: 1.4vw;
  }
}

@media (max-width: 450px) and (min-width: 320px) and (orientation: portrait) {
  .container {
    width: 86vw;
  }

  .wrap-main {
    max-width: 86vw;
    padding: 3vh 0 60vh;
  }
  .main-header {
    margin-top: 6.5vw;
    display: grid;
    padding-left: 11vw;
  }

  

  .main-header {
    display: grid;
    justify-self: start;
    margin-top: -0.5vw;
  }

  .nav > li > a {
    font-size: 0.9vw;
  }
  .nav > li > a.button-blue {
    padding: 1vh 3vw;
    font-size: 0.8vw;
  }

  .header-head > header > h1 {
    font-size: 1.3vw;
    padding-left: 3.5vw;
  }

  .header-button {
    justify-content: start;
    margin-top: -1vh;
  }

  .main-header > h1 {
    font-family: "Open Sans", sans-serif;
    font-size: 9vw;
    font-weight: 550;
    color: #192b59;
    letter-spacing: 0.05vw;
    max-width: 100%;
  }

  .header-button > a:first-child {
    margin-right: 3vw;
  }

  .button-blue {
    font-size: 2.4vw;
    padding: 1.8vh 3.9vw;
    letter-spacing: 0.2vw;
  }

  .button-gray {
    font-size: 2.4vw;
    padding: 1.8vh 3.9vw;
    letter-spacing: 0.2vw;
  }

  .header-image {
    background-size: contain;
    width: 100%;
    height: 86%;
    right: 0px;
    left: 0px;
    margin: 0 auto;
    top: 39%;
  }

  .main-sponsor {
    max-width: 65vw;
  }

  .sponsors {
    padding: 2vh 0px;
    display: grid;
    grid-template-areas:
      "a b"
      "c d";
    grid-row-gap: 0vh;
    grid-column-gap: 10vw;
  }

  .sponsors__grid__1 {
    grid-area: a;
  }

  .sponsors__grid__2 {
    grid-area: b;
  }

  .sponsors__grid__3 {
    grid-area: c;
  }

  .sponsors__grid__4 {
    grid-area: d;
  }

  .sponsors-div {
    display: block;
    position: relative;
    width: 25vw;
    height: 10vh;
    margin-right: 0;
    box-sizing: border-box;
  }

  .sponsors-div:last-child {
    width: 28vw;
    height: 10vh;
    margin-right: 0;
  }

  .img-sponsor {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .future {
    padding: 6vh 0px 5vh;
  }

  .main__future.main__future {
    display: grid;
    grid-template-areas:
      "title title"
      "a b"
      "c d"
      "f e"
      "text text";
    grid-row-gap: 5vh;
    grid-column-gap: 4vw;
  }

  .main_future__title {
    text-align: center;
    margin: 0 auto;
  }

  .main_future__title > h1 > span.OpenSans14 {
    font-size: 4.3vw;
    margin-bottom: -0.5vh;
    letter-spacing: 0.5vw;
  }

  .main_future__title > h1 {
    font-size: 8vw;
    max-width: 86vw;
    line-height: 6vh;
  }

  .grid__item {
    padding: 5vh 2vw 6vh;
    box-shadow: 0px 10px 13px -1px rgb(0 0 0 / 18%);
    -webkit-box-shadow: 0px 10px 13px -1px rgb(0 0 0 / 18%);
    border-radius: 2.5vw;
  }

  .main__future__img {
    width: 10vw;
    height: 7vh;
    margin-bottom: 3vh;
  }

  .main__future__text__h3 {
    font-size: 3.7vw;
  }

  .OpenSans16 {
    line-height: 2.5vh;
    font-size: 3.1vw;
  }

  .main__future__text__link {
    font-size: 2.9vw;
  }

  .grid__item__text {
    margin: 0 auto;
  }

  .main__future__text {
    margin-top: -1vh;
    max-width: 100%;
  }

  .main__future__text > p.OpenSans16 {
    font-size: 3vw;
    line-height: 3vh;
  }

  .main-robot {
    padding: 5vh 0px 7vh;
    justify-content: center;
    text-align: start;
  }

  .robot-text {
    margin-right: 0px;
  }

  .robot-text > .OpenSans50 > .OpenSans14 {
    margin-bottom: 1vh;
    letter-spacing: 0.3vw;
  }

  .OpenSans14 {
    font-size: 3.1vw;
  }

  .robot-text > .OpenSans50 {
    width: 54vw;
  }

  .OpenSans50 {
    font-size: 6.2vw;
  }

  .OpenSans18 {
    font-size: 3.3vw;
  }

  .robot-text > .OpenSans18 {
    margin-top: -0.3vh;
    max-width: 54vw;
    margin-bottom: 3vh;
  }

  .input-email {
    padding: 0.8vh 2vw 0.8vh 2vw;
    border-radius: 6vw;
  }

  .input-email > .button-blue {
    padding: 1.1vh 4vw;
    margin-left: 4vw;
    letter-spacing: 0.45vw;
    font-size: 2.7vw;
  }

  .input-email > input::placeholder {
    font-size: 3vw;
  }

  .input-email > input {
    width: 37vw;
    font-size: 3vw;
  }

  .robot__img {
    width: 21.5vw;
    height: 17vh;
    display: none;
  }

  .softvare {
    background-size: 60% 100%;
    padding: 2vh 0px 6vh 0px;
    background-image: none;
  }

  .main__softvare {
    justify-content: center;
  }

  .main__softvare__img {
    width: 26vw;
    height: 14vh;
    margin-left: -9vw;
    margin-bottom: -4vh;
  }

  .main__softvare__text > h1.OpenSans50 {
    max-width: 70vw;
  }

  .main__softvare__table {
    max-height: 21vh;
    margin-top: 4vh;
    margin-left: -2vw;
  }

  .main__softvare__text > p.OpenSans16 {
    font-size: 3.1vw;
    line-height: 3vh;
  }

  .main__softvare__text > .OpenSans16 {
    margin-bottom: 2vh;
    max-width: 70vw;
  }

  .main__softvare__text__16 {
    font-size: 3.2vw;
    margin-bottom: 2vh;
  }

  .main__softvare__text__14 {
    line-height: 3.1vh;
    font-size: 3.1vw;
    max-width: 64vw;
    margin-bottom: 2vh;
    margin-left: 5vw;
  }

  .softvare__image {
    top: 11vh;
    width: 48vw;
    height: 31vh;
    display: none;
  }

  .main__fun {
    padding: 4vh 0px 1vh;
  }

  .fun__title {
    max-width: 60.5vw;
  }

  .main__title > .OpenSans16 {
    max-width: 70vw;
    font-size: 3.5vw;
  }

  .fun__list {
    margin-left: 0px;
    padding-left: 0px;
  }

  .fun__title > h1 > span.OpenSans14 {
    font-size: 3.3vw;
    margin-bottom: 0.5vh;
  }

  .fun__functs {
    margin-top: -3vh;
  }

  .fun__statictick__h2 {
    font-size: 9vw;
  }

  .fun__statictick__span {
    font-size: 2.5vw;
  }

  .video {
    padding: 4vh 0px 16vh;
  }

  .main__title > .OpenSans50 {
    max-width: 70vw;
    letter-spacing: -0.06vw;
  }

  .main__video {
    justify-content: center;
  }

  .main__title__h3 {
    font-size: 3vw;
    margin-top: 1.5vh;
  }

  .google__play {
    width: 32.5vw;
    height: 6vh;
    bottom: -6.5vh;
  }

  .google__play:hover {
    width: 32.5vw;
    height: 6vh;
    bottom: -6.5vh;
  }

  .apple__store {
    width: 30.6vw;
    height: 6vh;
    bottom: -6.5vh;
    left: 36vw;
  }

  .apple__store:hover {
    width: 30.6vw;
    height: 6vh;
    bottom: -6.5vh;
  }

  .main__img {
    right: 7vw;
    top: 4vh;
    width: 37vw;
    height: 26vh;
    display: none;
  }

  .statistick {
    padding: 8vh 0px 7vh;
    background-image: none;
    position: relative;
  }

  .statistick::before {
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #d7ebff;
    content: "";
    display: block;
    top: -20px;
  }

  .main__title__img {
    width: 26vw;
    height: 14vh;
    margin-left: -10vw;
    margin-bottom: -2vh;
    top: -10vh;
    left: 0.5vw;
  }

  .main__statistick {
    justify-content: center;
  }

  .main__statistick__img {
    width: 32vw;
    height: 20vh;
    left: -4vw;
    top: -1vh;
    display: none;
  }

  .screen {
    padding: 4vh 0px 0px;
  }

  .main__screen_title {
    margin-bottom: 2vh;
  }

  .main__screen_title > h1 > span.OpenSans14 {
    font-size: 3.1vw;
    margin-bottom: 1vh;
  }

  .main__screen__img > img {
    width: 100vw;
    height: 34vh;
    object-fit: cover;
  }

  .cliensts {
    padding: 4vh 0 5vh;
  }

  .reviews__main>p.OpenSans14{
    line-height: 3vh;
  }

  .mian__cliensts__title {
    margin-bottom: 0.5vh;
  }

  .main__titile > .OpenSans50 {
    max-width: 70vw;
  }

  .mian__cliensts__title > .OpenSans50 {
    color: #000958;
  }

  .mian__cliensts__title > h1 > span.OpenSans14 {
    font-size: 3.1vw;
    margin-bottom: 1vh;
    color: #1085e4;
  }

  .main__titile > .OpenSans16 {
    max-width: 70vw;
    padding-bottom: 3vh;
  }

  .main__titile > .OpenSans16 {
    font-size: 3.5vw;
  }
  .cliensts__img {
    top: 4vh;
    width: 93%;
    height: 57%;
    max-width: 95vw;
    max-height: 19vh;
    display: none;
  }

  .reviews__main {
    padding: 1vh 2.5vw 5px 2.5vw;
    border-radius: 0.55vw;
    box-shadow: 0px 10px 13px -1px rgb(0 0 0 / 18%);
    -webkit-box-shadow: 0px 10px 13px -1px rgb(0 0 0 / 18%);
  }

  .reviews__main>p.OpenSans14{
    font-size: 3.4vw;
  }
  .person__img {
    width: 14vw;
    height: 8.3vh;
    margin-right: 2.8vw;
  }
  .person__text__span {
    font-size: 3.4vw;
  }
  .person__text__h3 {
    font-size: 2.6vw;
  }
  .person {
    padding-bottom: 0.7vh;
    margin-top: 0vh;
  }
  .main__team {
    padding: 4vh 0px 9vh;
  }

  .main__team_title > h1 > span.OpenSans14 {
    font-size: 3.2vw;
    margin-bottom: 0.5vh;
  }

  .mian__cliensts__title > h1 > span.OpenSans14 {
    font-size: 3.1vw;
    margin-bottom: 1vh;
    
  }

  .reviews {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  .main__team__peoples {
    flex-direction: column;
    max-width: 60vw;
    margin: 0 auto;
  }

  .reviews__main {
    padding: 0vh 2.5vw 0px 2.5vw;
    border-radius: 2.55vw;
    box-sizing: border-box;
    margin-bottom: 2vh;
  }
  .team {
    background-position: right;
  }

  .main__team__people {
    padding: 12vh 5vw 3vh;
    margin-bottom: 12vh;
    border-radius: 3vw;
  }

  .main__team__people:last-child {
    margin-bottom: 0vh;
  }
  .main__team_title {
    margin-bottom: 8vh;
  }

  .main__team__people__photo {
    top: -5vh;
    width: 31vw;
    height: 17vh;
    border-radius: 3vw;
  }

  .main__team__people__text {
    margin-top: 2vh;
  }
  .main__team__people__text__span {
    font-size: 3vw;
    margin-bottom: 1vh;
  }
  .main__team__people__text__h3 {
    font-size: 3.6vw;
  }
  .main__team__people_button {
    width: 30px;
    height: 30px;
    margin: 0vh auto 0px;
    background-size: 46%;
    background-position: 7px 7px;
    border-radius: 100px;
  }

  .main__team__people_button__facebook {
    background-size: 27%;
    background-position: 11px 8px;
  }

  .main__team__people_button__twitter {
    background-position: 9px 10px;
  }

  .main__team__people_button__be {
    background-position: 9px 10px;
  }

  .main__team__people_button__site {
    background-position: 8.7px 9px;
  }

  .footer__main {
    padding: 1vh 0px;
  }
  .footer__main__text__span {
    font-size: 2.8vw;
  }
  .footer__main__text__h3 {
    font-size: 3.2vw;
  }
  .footer__main__text__a {
    font-size: 2.7vw;
  }

  .header__burger{

  }

  .header-head > header > img {
    display: none;
  }

  .header-head > header > h1 {
    display: none;
  }

  .nav {
    display: none;
  }

}
